<div class="outer">
  <button class="btn" routerLink="/"> Home </button>
  <button class="btn" routerLink="/camera-view"> Camera </button>
  <button class="btn" routerLink="/products"> Products </button>
  <button class="btn" routerLink="/view"> View </button>
<!--  <div class="counter">-->
<!--    <div>Count: {{counterService.counter}} </div>-->
<!--    <button class="btn" (click)="counterService.increment()">increment</button>-->
<!--    <button class="btn" (click)="counterService.decrement()">decrement</button>-->
<!--  </div>-->

  <router-outlet></router-outlet>

</div>
