.title {
  margin: auto;
  font-family: 'Oswald', sans-serif;
  font-size: 2.5em;
  background-color: #ee9393;
  border-radius: 5px;
}

.categories {
  display: flex;
  flex-direction: row;
}

.btn{
  font-size: 1.5em;
  margin: 10px 20px;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: red;
  font-family: 'Oswald', sans-serif;
}
.counter{
  width: 500px;
  border-radius: 8px;
  background-color: #eaeaea;
}
